@charset "utf-8";
/* CSS Document */
p {
    color: green;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    font-size: 16px;
    line-height: 18px;
    width: 600px;
    background-color: antiquewhite;
    padding: 20px;
}
h1, h2{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color:blanchedalmond;
}

span{color: #572727;}
.pozadina{
    background-image: url("../../Downloads/pexels-sofi-10169245.jpg");
}
.drugapozadina{
    background-color: coral;
}

a:link{
    color: black;
    background-color: white;
    padding: 5px;
    line-height: 40px;
    border:1px #000000;
}
a:hover{
        background-color: darkgray;
}
img{
    height: 200px;
}